* {
  --green: #87C76A;
  --blue: #5AC7D6;
  --red: #FF6069;
  --purple: #4D2586;
}

html, body, #root, .app{
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Montserrat';
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  /* https://stackoverflow.com/questions/13573653/css-margin-terror-margin-adds-space-outside-parent-element */
  overflow: auto;
}
.app-easy{
  background: var(--green);
}

.app-medium{
  background: var(--blue);
}

.app-hard{
  background: var(--red);
}

button {
  all: unset;
  background-color: rgba(0, 0, 0, .1);
  color: black;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
}

button:hover{
  background-color: rgba(0, 0, 0, .5);
}

button:active{
  border: 4px solid white;
}